<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masrik.convertme">

    <application
        android:allowBackup="true"
        android:label="@string/launcher_title"
        android:icon="@mipmap/ic_launcher_web"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <uses-library
            android:required="false"
            android:name="com.sec.android.app.multiwindow" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name="com.masrik.convertme.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.masrik.convertme.WidgetSetupActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="com.masrik.convertme.Activity2"></activity>
        <activity android:name="com.masrik.convertme.Scroll"></activity>
        <activity android:name="com.masrik.convertme.ConvertActivity"></activity>
        <activity android:name="com.masrik.convertme.Binary"></activity>



    </application>
</manifest>
